<div id="header">
    <div class="header-left">
        <div class="title-logo">
            <img src="/svg/title.svg" alt="Title Logo" />
            <h1><a href="/">Tech Blog</a></h1>
        </div>
        {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
    </div>
    <!-- <div class="header-right">
        <div class="header-search">
            <input type="text" placeholder="Search..." />
            <img src="/svg/search.svg" alt="Search Icon" />
        </div>
    </div> -->
</div>
